<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a904b536-526f-4c62-aa2b-4706eaebc224/resourceGroups/csl-certificaciones/providers/Microsoft.Web/sites/csl-certificaciones</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://csl-certificaciones.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>csl-certificaciones.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>csl-certificaciones</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>$csl-certificaciones</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:csldb.database.windows.net,1433;Initial Catalog=certificaciones;User ID=gfragello@csldb;Password=c5l_-_FB" Name="Data Source=tcp:csldb.database.windows.net,1433;Initial Catalog=certificaciones;User Id=gfragello@csldb;Password=c5l_-_FB" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Cursos.Models.CursosDbContext, Cursos" MigrationConfiguration="Cursos.Migrations.Configuration, Cursos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:csldb.database.windows.net,1433;Initial Catalog=certificaciones;User Id=gfragello@csldb;Password=c5l_-_FB</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>