@model Cursos.Models.ElementoAccesoControlado

@if (!String.IsNullOrEmpty(Model.UsuarioModificacion))
{
    <div style="text-align: right;">
        <label style="font-size:x-small;color:#808080">@String.Format("{0} - {1}", Model.UsuarioModificacion, Model.FechaModficacion.ToString()) </label>
    </div>
}