@model Cursos.Models.Capacitado

@{
    ViewBag.Title = "Cargar Foto Capacitado";
}

<h2>Cargar Foto</h2>

<div id="tabFotos">
    @Html.Partial("_CapacitadoCargarFotoPartial", Model)
</div>

@section Scripts {

    @Scripts.Render("~/Scripts/cargarfoto.js")

}