
@{
    ViewBag.Title = "Actualizar Registros RF Migrados";
}

<h2>Actualizar Registros RF Migrados</h2>
<hr />

@using (Html.BeginForm("ActualizarRegistrosRF", "CustomTools", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td><input type="submit" name="Submit" value="Actualizar Registros RF Migrados" /></td>
        </tr>
        <tr>
            <td><input type="checkbox" name="actualizarDB" value="true"> Actualizar Base de Datos</td>
        </tr>
    </table>
}

